includes:
  - phpstan-baseline.neon
  - vendor/spaze/phpstan-disallowed-calls/extension.neon

parameters:
  checkMissingCallableSignature: true
  disallowedFunctionCalls:
    - function:
        - 'dump()'
        - 'var_dump()'
      message: 'avoid committing debug calls'

  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - LogicException

  level: 8
  paths:
    - src
    - tests
